.brand-gradient {
  background: #00ccff;
  background: -webkit-linear-gradient(to right, #00ccff, #00a347);
  background: linear-gradient(to right, #00ccff, #00a347);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.banner-holder,
.main-page-header {
  background: #000 url("./img/Banner.jpg") center/cover no-repeat;
}

.custom-nav {
  backdrop-filter: blur(5px);
}
